
.btn-reset {
  background: none;
  border: none;
}

.tab {
   margin-left: 40px; 
}

* {
  margin: 0;
  padding: 0;
}

.pbtn-secondary {
  color: black
}

.centres {
  text-align: center;
}

.messages {
  margin: auto;
  max-width: 400px;
}

.searchmessage {
  margin-left: 17px;
  width: 93%;
  float: left;
  border-radius: 0.75rem;
}

.submit {
  background: white;
  width: 4%;
  min-width: 38px;
  float: right;
  margin-left: 2px;
  height: 38px;
  border-radius: 12px;
  transition: all .6s ease;
}

.submit:hover {
  background: rgb(74, 74, 74);
}

.message {
  font-size: 18px;
  border: 2px solid #dedede;
  background-color: #ffffff;
  color:rgb(0, 0, 0);
  border-radius: 12px;
  padding: 10px;
  margin: 10px 0;
  text-align: right;
  width: auto;
  height: auto;
  
}
.darker {
  border-color: rgb(74, 74, 74);
  background-color: rgb(74, 74, 74);
  color:white;
  text-align: left
}

html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#root2 {
  display: flex;
  flex-direction: column;
  min-height: 30%;
}

main {
  flex-grow: 1;
}

nav a {
  transition: all .6s ease;
}
nav a:hover {
  transform: scale(1.10);
}

.date {
  max-width: 400px;
  margin: auto;
}

.date2 {
  max-width: 400px;
}

footer {
  background: white;
}