{% extends 'main/base.html' %}

{% block title %} главная {% endblock %} 
{% block content %} 
<div class="d-flex">
    <div class="listofchats">
        <h1 class="mt-2">Твои чаты</h1>
        {% if users %}
            {% for user in users %}
            <div class=" text-white rounded bg-dark" style="margin-bottom: 15px; margin-right: 70px; padding: 8px;">
                <a href="{% url 'chat' user.username %}" style="color: white; margin-bottom: 15px;" class="lead my-3 px-2 link-dark text-decoration-none mb-2 mt-2 messagetag">{{user.username}}</a>
                <p style="color: rgb(156, 156, 156);">{{chat__messages.text}}</p>
            </div>
            {% endfor %}
        {% else %}    
            <div class="text-center text-white rounded bg-dark" style="margin-bottom: 15px; margin-right: 70px; padding: 8px;">
                <p>У тебя отсутствуют чаты. Переходи на рынок и найди продовца или продай свой товар 👥</p>
            </div>
            <a href="{% url 'trade' %}" style="margin-bottom: 15px;" class="pinkbutton mb-1">В магазин</a>
        {% endif %}
            
    </div>
    <div class="line"></div>
    <div class="chat">
        {% block content3 %}{% endblock %}
    </div>
{% endblock %}

{% block content2 %}
{% endblock %}
