{% extends 'main/base.html' %} 

{% block title %}Удаление из избранного{% endblock %}

{% block content %}
<br>
        <h3 class="display-7 fw-normal text-center mb-3">Вы точно хотите удалить этот товар из избранного?</h3>
        <div class="d-flex">
            <form method="post" class="yes_form">
                {% csrf_token %}
                <button class="redbutton" type="submit">Да</button>
                <a href="{% url 'account' %}" style="padding: 10px;" class="greenbutton">Нет</a>
            </form>
        </div>
{% endblock %}