{% extends 'main/base.html' %}

{% block title %}
аккаунт
{% endblock %}

{% block content %}
    <h2 class="display-5 fw-normal text-center mt-4">Избранные товары</h2><br>
    {% if favorites %}
        {% for favorite in favorites %}
            {% if favorite.product.name %}
                <div class="p-4 p-md-5 mb-4  rounded bg-dark d-flex">
                    <a class="display-6 text-white fw-normal account" style="padding: 2.75rem 0;" href="{% url 'product' favorite.product.id %}">{{ favorite.product.name }}</a>
                    <img src="{{ favorite.product.image_1.url }}" width="150" height="150" style="margin-left:auto;" />
                </div>
            {% endif %}
            {% if favorite.yields.name %}
                <div class="p-4 p-md-5 mb-4  rounded bg-dark d-flex">
                    <a class="display-6 text-white fw-normal account" style="padding: 2.75rem 0;" href="{% url 'yields' favorite.yields.id %}">{{ favorite.yields.name }} </a>
                    <h5 style="color: white; padding-top: 60px; padding-left: 15px;"> ( товар от нашей платформы ✅ )</h5>
                    <img src="{{ favorite.yields.image_1.url }}" width="150" height="150" style="margin-left:auto;" />
                </div>
            {% endif %}
        {% endfor %}
        
    {% else %}
    <div class="text-center">
        <a href="{% url 'trade' %}" class="pinkbutton text-center">Корзина пуста! Скорее за покупками🤠</a>
    </div>
    {% endif %}
    <!-- <h2 class="display-5 fw-normal text-center mt-4">Твои offer'ы</h2><br>
    {% for offer in offers %}
        <div class="p-3 p-md-5 mb-4  rounded bg-dark d-flex">
            <a class="display-6 text-white fw-normal account" style="padding: 0;" href="{% url 'product' offer.product.id %}">{{ offer.product.name }} </a>
            <p class="display-6 text-white fw-normal account" style="color: white; margin: 0; margin-left:auto;">{{ offer.price }}</p>
        </div>
    {% endfor %} -->
{% endblock %}
{% block content2 %}

{% endblock %}