{% extends 'main/base.html' %}

{% block title %}
новость
{% endblock %}

{% block content %}
<h3 class="display-5 fw-normal text-center">{{ news.news }}</h1><br>
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <h4 class="fs-5 text-muted">{{ news.description }}</h4><br>
    <img src="{{ news.imagenews.url }}" width="300" height="300"/><br><br>
    <h4 class="fs-5 text-muted">Источник {{ news.source }}</h4><br>
    <h4>Комментарии:</h4><br>
    {% if news.comments %}
        {% for comment in news.comments.all %}
        <ul>
            <li style="list-style-image: url('/media/li-style.svg'); margin-left: 20px;" class="fs-5 text-muted">{{ comment.user }}: {{ comment.comment }}</li>
        </ul>
        {% endfor %}
    {% else %}
        <h4 class="fs-5 text-muted">Комментариев к этой записи нет(</h4><br>
    {% endif %}
        <br>
        {% if user.is_authenticated %}
            <form method="post" enctype="multipart/form-data date2">
                {% csrf_token %}
                <h4>Прокомментируйте:</h4><br>
                {% for field3 in comment_form %}
                    <div>
                        <p1 class="fs-5 text-muted">{{ field3 }}</p1>
                        {% if field3.help_text %}
                        <p class="fs-5 text-muted">{{ field3.help_text }}</p>
                        {% endif %}
                        {{ field3.errors }}
                    </div>
                {% endfor %}
                    <div>
                        <input type="hidden" name="news" value="{{ news.id }}" />
                    </div><br>
                <button type="submit" class="pinkbutton me-4 my-2 mb-2" name="form_type" value="comment_form">Добавить комментарий</button>
            </form>
            {% else %}
            <h4>Вы не вошли в аккаунт</h4><br>
            <a href="register" class="pinkbutton me-2 mb-2">Зарегестрируйся, и оставь свой комментарий</a>
        {% endif %}
    </div>
{% endblock %}
{% block content2 %}

{% endblock %}