{% extends 'main/base.html' %}

{% block title %}
примечание
{% endblock %}

{% block content %}

    <h2 class="display-4 fw-normal text-center">О сайте</h2>  
    <br>
    <p class="fs-5 text-muted">Сайт создан школьником и преднозначен для перепродажи одежды, так как его задолбали чаты в телеграмме и группы вк.</p>
    <br>
    <p class="fs-5 text-muted">Сдесь я пытаюсь передать все прикольные фишки для удобной перепродажи.</p>
    <br>
    <p class="fs-5 text-muted">На сайте вы можете посмотреть разделы с дропами, сам магазин, где вы можете сами разместить свой товар(если возникают проблемы читайте примечание ниже)</p>
    <br>
    <p class="fs-5 text-muted">Также на сайте вы можете почитать наши отзывы(надеюсь все не так плохо)</p>
    <br>
    <p class="fs-5 text-muted">На странице своего аккаунта вы можете просмотреть свою корзину и свои товары.</p>
    <br>
    <h2 class="display-4 fw-normal text-center">Главная странница и новости</h2>  
    <br>
    <p class="fs-5 text-muted">Новости выкладывает мой друг, все претензии к нему. Что что, а комменты у нас прикольные</p>
    <br>
    <h2 class="display-4 fw-normal text-center">Магазин</h2>< 
    <br>
    <p1 class="fs-5 text-muted">Система далеко не совершенна, но по скольку я школьник и делать мне нечего, я всегда мучу что то новое и приколдесное.</p1>

{% endblock %}
{% block content2 %}

{% endblock %}