{% extends 'main/base.html' %}

{% block title %}
{{ product.name }}
{% endblock %}

{% block content %}
{% endblock %}

{% block content2 %}
    {% if user == product.user %}
        <h1 class="display-4 fw-normal text-center mt-4">{{ product.name }}</h1>
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
            <h4>{{ product.description }}</h4>
            <h4>{{ product.price }}</h4>
            <img src="{{ product.image.url }}" width="300" height="300" class="mb-5"/>
            <h4>Предложения по товему продукту:</h4>
            {% if product.offers %}
            <ul>
                {% for offer in product.offers.all %}
                    <li style="list-style-image: url('/media/li-style.svg'); margin-left: 20px;" class="fs-5 text-muted"><a href="{% url 'profile' offer.user.username %}">{{ offer.user }}</a> предлагает {{ offer.price }}</li>
                {% endfor %}
            </ul>
            {% else %}
                <h4 class="fs-5 text-muted">Офферов к этому продукту нет(</h4>
            {% endif %} 
        </div>
    {% else %}
        <h1 class="display-4 fw-normal text-center mt-4">{{ product.name }}</h1>
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
            <h4>{{ product.description }}</h4>
            <h4>{{ product.price }}</h4>
            <img src="{{ product.image.url }}" width="300" height="300" class="mb-5"/>
            {% if user.is_authenticated %}
            {% if offers %}
                <h4 style="margin-bottom: 20px;">Ваши offer'ы по продукту:</h4>
                <ul class="mb-4">
                {% for offer in offers %}
                    <li style="list-style-image: url('/media/li-style.svg'); margin-left: 20px;" class="fs-5 text-muted">{{ offer.price }}</li>
                {% endfor %}
                </ul>
            {% endif %}
                <h4>Предложите свою цену:</h4><br>
                    <form method="post" style="margin-bottom: 8px;" enctype="multipart/form-data" class="d-flex">
                    {% csrf_token %}
                    {% for field2 in offer_form %}
                          <p class="fs-5 text-muted mb-2 d-flex offer">{{ field2 }}</p>
                          {% if field2.help_text %}
                            <p class="fs-5 text-muted">{{ field2.help_text }}</p>
                          {% endif %}
                          {{ field2.errors }}
                          <input type="hidden" name="product" value="{{ product.id }}" />
                          <button type="submit" class="btn btn-outline-success offerbutton mb-2" name="form_type" value="offer_form" style="margin-left: 0.5rem;">Добавить offer</button>
                    {% endfor %} 
                    </form>
                    <a href="{% url 'profile' product.user.username %}" class="pinkbutton profilebutton">Профиль продавца</a><br><br>
                        <a href="{% url 'favorite-delete' favorite.id %}" class="pinkbutton profilebutton" style="padding-left: 61px; padding-right: 61px;">Удалить из избранного</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}