{% extends 'main/base.html' %}
{% load socialaccount %}

{% block title %}
Регистрация
{% endblock %}

{% block content %}
    <div class="text-center">
        <h1 class="display-4 fw-normal text-center">Зарегистрируйтесь</h1><br>
        <form method="POST" class ="fs-5 text-muted centres date">
            {% csrf_token %}
            <p class="fs-5 text-muted">Введите ваш логин:</p>
            {{ form.username }}<br>
            <p class="fs-5 text-muted">Введите ваш пароль:</p>
            {{ form.password1 }}<br>
            <p class="fs-5 text-muted">Повторите ваш пароль:</p>
            {{ form.password2 }}<br>
            {{ form.error }}
            <button type="submit" class="btn btn-secondary me-2 mb-2">Зарегистрироваться</button>
        </form><br>
        <a class="centres date" href="{% provider_login_url 'google' %}">Login With Google</a>
    </div>
{% endblock %}

{% block content2 %}

{% endblock %}
