{% extends 'main/base.html' %} 

{% block title %}Магазин{% endblock %}

{% block content %}
    <h1 class="display-4 fw-normal text-center mt-4">Наш магазин</h1><br>
    <form  class="d-flex mb-3">
        <input class="form-control"  name="q" type="search" placeholder="Поиск"/>
        <input class="form-control" name="min" style="margin-left: 1rem;" placeholder="от {{min_price}} "type="text">
        <input class="form-control" name="max" style="margin-left: 1rem;" placeholder=" до {{max_price}}"type="text">
        <button class="btn btn-outline-success" style="margin-left: 1rem;">Искать</button>
    </form>
{% endblock %}

{% block content2 %}
    {% if page %}
        {% for yield in page %}
            <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
                <h1>{{ yield.name }}</h1>
                <h4 class="fs-5 text-muted">{{ yield.description }}</h4>
                <h4>{{ yield.price }}</h4><br>
                <img src="{{ yield.image.url }}" width="300" height="300"/><br>
                <form method="post" action="{% url 'favorite_for_yields' yield.id %}">
                    {% csrf_token %}
                    <button type="submit" class="pinkbutton likebutton">Добавить в избранное</button>
                </form>
                <a href="{% url 'order' yield.id %} " class="pinkbutton likebutton" style="padding-left: 91px; padding-right: 91px;">Заказать товар</a>
            </div>
        {% endfor %}
                {% if page.has_previous %}
                <a href="?page=1" class="pinkbutton my-2 mb-2">Первая страница</a>
                <a href="?page={{ page.previous_page_number }}" class="pinkbutton my-2 mb-2">Предыдущяя</a>
            {% endif %}
            {% if page.has_next %}
                <a href="?page={{ page.next_page_number }}" class="pinkbutton my-2 mb-2">Следующая</a>
                <a href="?page={{ page.paginator.num_pages }}" class="pinkbutton my-2 mb-2">Поледняя страница</a>
            {% endif %}
                <span class="fs-5 text-muted">Страница {{ page.number }} из {{ page.paginator.num_pages }}</span><br><br>
    {% else %}
        <p class="fs-5 text-muted">Да, много сегодня отзывов</p>
    {% endif %}
{% endblock %}