{% extends 'main/base.html' %}

{% block title %}
Наш магазин
{% endblock %}

{% block content %}
    <h1 class="display-4 fw-normal text-center">Наш магазин</h1><br>
{% endblock %}

{% block content2 %}
    {% if page %}
        {% for product in page %}
            <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
                <h1>{{ product.name }}</h1>
                <h4 class="fs-5 text-muted">{{ product.description }}</h4>
                <h4>{{ product.price }}</h4>
                <img src="{{ product.image.url }}" width="300" height="300"/><br>
                {% if offer %}
                    <ul><br><br>
                    {% for offer in product.offer_set.all %}
                        <li class="fs-5 text-muted">{{ offer.user }} предлагает {{ offer.price }}</li>
                    {% endfor %}
                    </ul>
                    <br>
                {% else %}
                    <br><h4 class="fs-5 text-muted">Офферов к этому продукту нет(</h4><br>
                {% endif %}
                {% if user.is_authenticated %}

                    <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h4>Предложите свою цену:</h4>
                    {% for field2 in offer_form %}
                      <div>
                          <p1 class="fs-5 text-muted">{{ field2 }}</p1>
                          {% if field2.help_text %}
                            <p class="fs-5 text-muted">{{ field2.help_text }}</p>
                          {% endif %}
                          {{ field2.errors }}
                      </div>
                    {% endfor %}
                        <div>
                            <input type="hidden" name="product" value="{{ product.id }}" />
                        </div>
                    <button type="submit" class="btn btn-secondary my-2" name="form_type" value="offer_form">Добавить offer</button>
                    </form>

                    <button type="submit" class="btn btn-secondary my-2">Написать продавцу</button>
                    <form method="post" action="{% url 'favorite' product.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-secondary my-2">В избранное</button>
                    </form>
                    {% else %}
                    <p1 class="fs-5 text-muted">Вы не вошли в аккаунт</p1><br><br>
                    <a href="register" class="btn btn-secondary my-2">Зарегестрируйся, и оставь свой оффер</a>
                {% endif %}
            </div>
        {% endfor %}
                {% if page.has_previous %}
                <a href="?page=1" class="btn btn-secondary my-2">Первая страница</a>
                <a href="?page={{ page.previous_page_number }}" class="btn btn-secondary my-2">Предыдущяя</a>
            {% endif %}
            {% if page.has_next %}
                <a href="?page={{ page.next_page_number }}" class="btn btn-secondary my-2">Следующая</a>
                <a href="?page={{ page.paginator.num_pages }}" class="btn btn-secondary my-2">Поледняя страница</a>
            {% endif %}
                <span class="fs-5 text-muted">Страница {{ page.number }} из {{ page.paginator.num_pages }}</span><br><br>
    {% else %}
        <p class="fs-5 text-muted">Да, много сегодня отзывов</p>
    {% endif %}

    {% if user.is_authenticated %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p1 class="fs-5 text-muted">Размести свой товар:</p1>
            {% for field in product_form %}
              <div>
                  {{ field }}<p1 class="fs-5 text-muted"></p1>
                  {% if field.help_text %}
                    <p class="fs-5 text-muted">{{ field.help_text }}</p>
                  {% endif %}
                  {{ field.errors }}
              </div>
            {% endfor %}
            <p1 class="fs-5 text-muted">*пожалуйста прикрепляйте картинку в квадратном формате</p1>
            <br>
            <button type="submit" class="btn btn-secondary my-2" name="form_type" value="product_form">Добавить</button>
        </form>
    {% else %}
        <p1 class="fs-5 text-muted">Вы не вошли в аккаунт</p1><br><br>
        <a href="register" class="btn btn-secondary my-2">Зарегестрируйся, и оставь свой отзыв</a>
    {% endif %}
    </div>
{% endblock %}