{% extends 'main/base.html' %}

{% block title %}
Update
{% endblock %}

{% block content %}
  <h1 id="h1" class="display-4 fw-normal text-center">Редактирование</h1><br>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
      <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <label for="id_fullname"class="display-7 fw-normal my-4 ">Введите наименование товара:</label>
        <p id="name">{{ form.name }}</p>
        
        <label for="id_pnumber" class="display-7 fw-normal my-4 ">Введите описание товара:</label>
        <p id="description">{{ form.description }}</p>

        <label for="startsdate" class="display-7 fw-normal my-4 ">Введите цену товара:</label>
        <p id="price">{{ form.price }}</p>

        <label for="finishdate" class="display-7 fw-normal my-4 ">Прикрепите картинку:</label>
        <p id="image">{{ form.image }}</p>

        
        {{ error }}
        <h4 class="fs-5 text-muted mb-3">* пожалуйста прикрепляйте картинку в квадратном формате.</h4>

        <button class="greenbutton" type="submit">Обновить</button>
        <a href="{% url 'product-delete' product.id %}" class="redbutton">Удалить продукт</a>
      </div>

        <!-- <button type="submit" class="pinkbutton my-2 mb-2" name="form_type" value="product_form">Добавить</button> -->
    </form>
{% endblock %}